*{
    padding: 0;
    margin: 0;
}

header{
    background-image:url(img/fondmobile.jpeg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
    background-size: cover;
    padding: 0rem 0rem 2rem 0rem;

}

body{
    background: linear-gradient(rgb(233, 220, 220), rgb(130, 179, 149))
}

.top_logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0rem 2rem 2rem 2rem;   
}

.wild_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    background-color: #e1726ee7;
    border-radius: 1rem;
    font-size: 3rem;  
    font-weight: 800;  
    margin: 0rem 1rem 0rem 1rem;
    font-family: 'Righteous', cursive;
}

.contact{
    visibility: hidden;
}

.carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: whitesmoke;
    opacity: 0.9;
    border-radius: 1rem;
    margin: 0rem 2rem 0rem 2rem
}

.banner_img{
    display: none;
}

.desc_banner{    
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    padding: 2rem;
    font-family: 'Fira Sans Condensed', sans-serif;
}

hr {
    display: none;
    margin: 5% 25% 5% 25%;
    width: 50%;
    height: 3px;
    background: #e1726e;
    border: none;
}

.logo_entreprises{
    display: flex;
    justify-content: center;
    margin: 2rem;
    padding-top: 2rem;
}

.nom_entreprises{
    text-align: center;
    margin: 1rem;
    font-family: 'Righteous', cursive;
}

.flex1{
    background-color: white;
    border-radius: 1rem;
    margin: 0rem 2rem 0rem 2rem;
}

.flex2{
    background-color: whitesmoke;
    border-radius: 1rem;
    margin: 0rem 2rem 0rem 2rem;
}

.desc{
    text-align: left;
    padding: 2rem;
    font-size: 20px;
    font-family: 'Fira Sans Condensed', sans-serif;
    
}

.wilders{
    display: none;
    text-align: right;
    font-style: italic;
    color: brown;
    margin: 2rem;
    padding-bottom: 1rem;
    font-size: 18px;
}

#Btn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: whitesmoke; 
    color: black; 
    cursor: pointer; 
    padding: 10px; 
    border-radius: 10px;
    font-size: 18px;
}

#Btn:hover {
    background-color: #555;
}

footer{
    padding: 2rem;
    text-align: center;
    font-family: "Righteous", cursive;
}

.firstnamefooter {
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color:black;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.logobox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
        
}

.logotwitter {
    padding: 0 .25rem;

}


/* Button */ 

.content {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    display: none;
  }
  
  .center {
    text-align: center;
    display: none;

  }
  
  #open-modal {
    padding: 10px 20px;
    background: #F76C6C;
    color: #fff;
    border: transparent;
    border-radius: 4px;
    font-size: 1.5rem;
    display: none;

  }
  
  #close-modal {
    padding: 10px 20px;
    background: #F76C6C;
    color: #fff;
    border: transparent;
    border-radius: 4px;
    font-size: 1.5rem;
    display: none;

  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
  }
  .modal-inner {
    margin-top: 30px;
    display: none;

  }
  
  button[type="submit"]:hover,
  button[type="reset"]:hover {
    background-color: red;
    display: none;

  }