/* Page */

*{
  margin: 0;  
}

/* Header */

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Righteous', cursive;
    margin: 20px 0;
}


.wild_header {
    font-size: 50px;
    letter-spacing: 1rem;
    color:#F99797;
}

.contact {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Righteous', cursive;
    color:#F99797;
}

/* Section */ 
.carousel {
    position: relative;
}
.desc_banner {
    font-size: 1.75vw;
    font-family: 'Righteous', cursive;
    color:#F99797;
}
.box_banner{
    width: 33%;
    position: absolute;
    left: 16%;
    top: 20%;
    height: 50%;
}
.banner_img {
    width:100%;
}

/* hr */
hr {
    width: 30%;
    height: 3px;
    background-color: black;
    border-radius: 50%;
    margin: 25px 35%;
}

/* Main */
main {
    margin-top:30px;
}
.logo_entreprises:hover {
    opacity: 0.5;
    cursor: pointer;
}
.nom_entreprises {
    font-family: 'Righteous', cursive;
    margin-right: auto;
}
.wilders {
    display: none;
}
.desc {
    width: 100%;
    margin: 0px;
    font-size: 18px;
    font-family: 'Fira Sans Condensed', sans-serif;
}
.flex1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-inline-start: 5%;
    padding: 25px 15px;
}
.flex2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    background-color: whitesmoke;
    padding-inline-end: 5%;
    padding: 25px 15px;
}
.flex_text1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 15px;
    width: 40%;
}
.flex_text2 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 15px;
    width: 40%;
}
.logo_box{

}

/* Bouton */
#Btn {
    display: transparent;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
 }
 #Btn:hover {
    background-color: #555;
 }

/* Footer */

.logobox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
    padding:10px;
}
footer{
    background: linear-gradient(whitesmoke, #F99797);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}
.logowild{
    width: 80px;
    padding-right: 10px;
}
.twitter{
    width: 70px;
}
.linkedin{

}
.firstnamefooter{
    text-decoration: none;
    color: black;
    font-weight: bold; 
    padding: 0px 5px;
}
.fondator {
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Button*/ 

.content {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
  }
  
  .center {
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    background: #F76C6C;
    color: #fff;
    border: transparent;
    border-radius: 4px;
    font-size: 1rem;
    margin : 0px 50px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: none;
  }
  .modal-inner {
    margin-top: 30px;
  }
  
  button[type="submit"]:hover,
  button[type="reset"]:hover {
    background-color: red;
  }