/* Page */

*{
  margin: 0;  
}

/* Header */

.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Righteous', cursive;
}


.wild_header {
    font-size: 50px;
    letter-spacing: 1rem;
    color:#F99797;
}

.contact {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-family: 'Righteous', cursive;
    color:#F99797;
}

/* Section */ 
.carousel {
    position: relative;
}
.desc_banner {
    font-size: 1.8vw;
    font-family: 'Righteous', cursive;
    color:#F99797;
}
.box_banner{
    width: 33%;
    position: absolute;
    left: 16%;
    top: 20%;
    height: 50%;
}
.banner_img {
    width:100%;
}

/* hr */
hr {
    width: 30%;
    height: 3px;
    background-color: black;
    border-radius: 50%;
    margin: 25px 35%;
}

/* Main */
main {
    margin-top:30px;
}
.logo_entreprises {
    
}
.nom_entreprises {
    font-family: 'Righteous', cursive;
    margin-right: auto;
}
.wilders {
    display: none;
}
.desc {
    width: 100%;
    margin: 0px;
    font-size: 18px;
    font-family: 'Fira Sans Condensed', sans-serif;
}
.flex1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-inline-start: 5%;
    padding: 25px 0;
}
.flex2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    background-color: whitesmoke;
    padding-inline-end: 5%;
    padding: 25px 0;
}
.flex_text1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 15px;
    width: 40%;
}
.flex_text2 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 15px;
    width: 40%;
}
.logo_box{

}

/* Bouton */
#Btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
 }
 #Btn:hover {
    background-color: #555;
 }

/* Footer */

footer{
    background:linear-gradient(to top left, #F99797, white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
    padding:10px;
}
.logowild{
    width: 100px;
}
.twitter{
    width: 70px;
}
.linkedin{

}