/* Header */
.head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Righteous', cursive;
}


.wild_header {
    font-size: 50px;
    letter-spacing: 1rem;
}

.contact {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

/* Section */ 
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc_banner {
    position: absolute;
    font-size: 20px;
}
.banner_img {
    border-radius: 15%;
}

/* hr */
hr {
    width: 30%;
    align: center;
    height: 3px;
    background-color: black;
    border-radius: 50%;
}

/* Main */
main {

}
.logo_entreprises {

}
.nom_entreprises {
    font-family: 'Righteous', cursive;
}
.wilders {
    display: none;
}
.desc {
    width: 65%;
    margin: 0px;
    font-size: 18px;
    font-family: 'Fira Sans Condensed', sans-serif;
}
.flex1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-inline-start: 5%;
}
.flex2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row-reverse;
    background-color: whitesmoke;
    padding-inline-end: 5%;
}
.flex_text1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 15px;
}
.flex_text2 {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 15px;
}

/* Bouton */
#myBtn {
    display: transparent;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-size: 18px;
 }
 #myBtn:hover {
    background-color: #555;
 }

/* Footer */

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logowild{
    width: 100px;
}
.twitter{
    width: 70px;
}
.linkedin{

}